@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <div class="jumbotron">
        <div class="container">
            <hgroup class="title">
                <h2>Welcome to the Server Monitor</h2>
            </hgroup>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <p>@Html.ActionLink("Log In ", "Login", "Account") to see server details.  </p>
        <p>If you do not have a log in please contact your System Administrator.</p>
    </div>
</div>
